<%= form_for(circ_policy_group) do |f| %>
  <% if circ_policy_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(circ_policy_group.errors.count, "error") %> prohibited this circ_policy_group from being saved:</h2>

      <ul>
      <% circ_policy_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :circ_group_id %>
    <%= f.number_field :circ_group_id %>
  </div>

  <div class="field">
    <%= f.label :circ_group_name %>
    <%= f.text_field :circ_group_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
