<p id="notice"><%= notice %></p>

<p>
  <strong>Item type:</strong>
  <%= @item_type.item_type_id %>
</p>

<p>
  <strong>Item type code:</strong>
  <%= @item_type.item_type_code %>
</p>

<p>
  <strong>Item type name:</strong>
  <%= @item_type.item_type_name %>
</p>

<p>
  <strong>Item type display:</strong>
  <%= @item_type.item_type_display %>
</p>

<%= link_to 'Edit', edit_item_type_path(@item_type) %> |
<%= link_to 'Back', item_types_path %>
